body {
    font-family: Papyrus, cursive;
    background-color: #6a8a82;
}
#info, #info2, #info3, #info4 {
	text-align: center;
}
#city, #city2, #city3, #city4 {
	background-color: yellow;
}
table {
	text-align: center;
	margin-left:auto; 
	margin-right:auto; 
}
tr:nth-child(even) {
	background: #CCC
}
tr:nth-child(odd) {
	background: #FFF
}